/* spacious-light-cupcake from SimplyClassyCSS - https://github.com/i-plasm/simply-classy-css */

/* Beginning of font-size setting. */
body {
  font-size: 19px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

pre, code {
  font-size: 16px;
}

blockquote {
  font-size: 20px;
}

table th {
  font-size: 20px;
}

table td {
  font-size: 20px;
}

/* End of font-size setting */

/* Beginning of borders, margins, padding, alignment */
body {
  margin: 0 auto;
  margin-top: 5;
  line-height: 1.45;
  padding: 9px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1, h2, h3 {
  margin-bottom: 3;
  margin-top: 3;
  padding-bottom: .5rem;
  text-align: left;
}

a, a:visited {
  text-decoration: underline;
}

blockquote {
  border-left: 6px solid #30b418;
  padding: 10px;
}

pre, blockquote {
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
  border-color: inherit;
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid #ab86f4;
  border-top: 0px solid #ab86f4;
  border-right: 1px solid #ab86f4;
  border-left: 0px solid #ab86f4;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: 5px 5px;
  background-color: #ceb9f8;
  border-top: 1px solid #ab86f4;
  border-left: 1px solid #ab86f4;
  border-right: 0px solid #ab86f4;
  border-bottom: 0px solid #ab86f4;
}

table td {
  padding: 5px 5px;
  vertical-align: top;
  border-top: 1px solid #ab86f4;
  border-left: 1px solid #ab86f4;
  border-bottom: 0px solid #ab86f4;
  border-right: 0px solid #ab86f4;
}

table tr {
  border-right: 1px solid #ab86f4;
}

tr, img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

pre {
  line-height: 1.25;
}

pre, code {
  padding: 15px;
}

/* End of borders, margins, padding, alignment */

/* Beginning of colors (non-borders, non-table) and font styling */
a, a:visited {
  color: #30b418;
  font-weight: 500;
}

a:hover, a:focus, a:active {
  color: #30b418;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h3 {
  font-style: italic;
}

h6 {
  font-style: italic;
}

body {
  background-color: #f8eedd;
  color: #44239e;
  font-family: "montserrat medium", "Open Sans", verdana, sans-serif;
  font-weight: 300;
}

p {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: #00b8b4;
  font-family: Lora, Merriweather, Georgia, serif;
}

table td {
  font-family: 'Open Sans Condensed', Helvetica, Verdana, sans-serif;
}

blockquote {
  background: #c4f6bc;
  font-family: Lora, Merriweather, serif, Georgia, serif;
  color: black;
}

pre, code {
  background-color: #f8d527;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

/* End of colors and font styling */

/* Beginning of other elements */
ol {
  margin-left: 20px;
}

ol {
  margin-left: 25px;
}

ol ol ol {
  margin-left: 30px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul ul {
  margin-left: 25px;
}

ul ul ul {
  margin-left: 30px;
}

ul li li {
  list-style-type: square;
}

ul li li li {
  list-style-type: circle;
}

sub, sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* End of other elements */

/* Beginning of custom highlighting, emphasizing */
span.simply-yellow {
  background-color: #FFFF00;
}

span.simply-blue {
  background-color: #bdffff;
}

span.simply-purple {
  background-color: #e699ff;
}

span.simply-green {
  background-color: #99eb99;
}

span.simply-red {
  background-color: #ffbfbf;
}

p.blue-solid {
  font-style: regular;
  padding: 5px;
  border: 3px;
  border-style: solid;
  border-color: #37d6f7;
}

p.blue-dashed {
  font-style: regular;
  padding: 5px;
  border: 3px;
  border-style: dashed;
  border-color: #37d6f7;
}

p.blue-dotted {
  font-style: regular;
  padding: 5px;
  border: 3px;
  border-style: dotted;
  border-color: #37d6f7;
}

p.blue-full {
  font-style: regular;
  color: white;
  padding: 5px;
  background-color: #37d6f7;
}

/* End of custom highlighting, emphasizing */